In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('mapping_df.csv')

In [7]:
x = int(len(df)/2)

In [12]:
df_1 = df.iloc[0:x]
df_2 = df.iloc[x:]

In [14]:
df_1.to_csv('mapping_df1.csv')
df_2.to_csv('mapping_df2.csv')

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,resale_price,year_transacted,estimated_remaining_lease,estimated_lease,flat_kind,ordered_storey,price_per_sqm,address,lat,lon
0,1/1/1990,ANG MO KIO,1 room,309,ANG MO KIO AVE 1,10 TO 12,31.0,improved,9000.0,1990,86,86,1 room improved,4,290.322581,309 ANG MO KIO,1.377017,103.834733
1,1/1/1990,ANG MO KIO,1 room,309,ANG MO KIO AVE 1,04 TO 06,31.0,improved,6000.0,1990,86,86,1 room improved,2,193.548387,309 ANG MO KIO,1.377017,103.834733
2,1/1/1990,ANG MO KIO,1 room,309,ANG MO KIO AVE 1,10 TO 12,31.0,improved,8000.0,1990,86,86,1 room improved,4,258.064516,309 ANG MO KIO,1.377017,103.834733
3,1/1/1990,ANG MO KIO,1 room,309,ANG MO KIO AVE 1,07 TO 09,31.0,improved,6000.0,1990,86,86,1 room improved,3,193.548387,309 ANG MO KIO,1.377017,103.834733
4,1/1/1990,ANG MO KIO,3 room,216,ANG MO KIO AVE 1,04 TO 06,73.0,new generation,47200.0,1990,85,85,3 room new generation,2,646.575343,216 ANG MO KIO,1.366197,103.841505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348829,1/9/2003,WOODLANDS,4 room,701,WOODLANDS DR 40,01 TO 03,99.0,maisonette,225000.0,2003,92,92,4 room maisonette,1,2272.727273,701 WOODLANDS,1.441797,103.796074
348830,1/9/2003,WOODLANDS,4 room,706,WOODLANDS DR 40,01 TO 03,102.0,maisonette,230000.0,2003,92,92,4 room maisonette,1,2254.901961,706 WOODLANDS,1.439778,103.796687
348831,1/9/2003,WOODLANDS,4 room,602,WOODLANDS DR 42,01 TO 03,102.0,maisonette,220000.0,2003,93,93,4 room maisonette,1,2156.862745,602 WOODLANDS,1.438217,103.796392
348832,1/9/2003,WOODLANDS,4 room,551,WOODLANDS DR 44,07 TO 09,100.0,maisonette,208000.0,2003,96,96,4 room maisonette,3,2080.000000,551 WOODLANDS,1.433149,103.795210
348833,1/9/2003,WOODLANDS,4 room,551,WOODLANDS DR 44,10 TO 12,100.0,maisonette,230000.0,2003,96,96,4 room maisonette,4,2300.000000,551 WOODLANDS,1.433149,103.795210